<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Pre-requisite</td><td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data</a></td> </tr>
      <tr> <td>January 9</td>  <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Spreadsheets</a> and <a href="http://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine</a></td> </tr>
      <tr> <td>January 10</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td> </tr>
      <tr> <td>January 11</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td> </tr>
      <tr> <td>January 12</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">Data Visualizations and Reports in R</a></td> </tr>
      <tr> <td>END</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
    </table>
  </div>
</div>
